<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:layout name="Default" />

	This Template is responsible for creating a table of domain objects.

	If you modify this template, do not forget to change the overwrite settings
	in /Configuration/ExtensionBuilder/settings.yaml:
	  Resources:
		Private:
		  Templates:
			List.html: keep

	Otherwise your changes will be overwritten the next time you save the extension in the extension builder

	<f:section name="content">
		<h1>Listing for Person</h1>

		<f:flashMessages />

		<table  class="tx_hsroombooking" >
			<tr>
				<th><f:translate key="tx_hsroombooking_domain_model_person.firstname" /></th>
				<th><f:translate key="tx_hsroombooking_domain_model_person.lastname" /></th>
				<th><f:translate key="tx_hsroombooking_domain_model_person.email" /></th>
				<th><f:translate key="tx_hsroombooking_domain_model_person.image" /></th>
				<th> </th>
				<th> </th>
			</tr>

			<f:for each="{persons}" as="person">
				<tr>
					<td><f:link.action action="show" arguments="{person : person}"> {person.firstname}</f:link.action></td>
					<td><f:link.action action="show" arguments="{person : person}"> {person.lastname}</f:link.action></td>
					<td><f:link.action action="show" arguments="{person : person}"> {person.email}</f:link.action></td>
					<td><f:link.action action="show" arguments="{person : person}"> {person.image.originalResource.name}</f:link.action></td>
					<td><f:link.action action="edit" arguments="{person : person}">Edit</f:link.action></td>
					<td><f:link.action action="delete" arguments="{person : person}">Delete</f:link.action></td>
				</tr>
			</f:for>
		</table>

		<f:link.action action="new">New Person</f:link.action>
	</f:section>
</html>