<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:layout name="Default" />

	This Template is responsible for creating a table of domain objects.

	If you modify this template, do not forget to change the overwrite settings
	in /Configuration/ExtensionBuilder/settings.yaml:
	  Resources:
		Private:
		  Templates:
			List.html: keep

	Otherwise your changes will be overwritten the next time you save the extension in the extension builder

	<f:section name="content">
		<h1>Welcome {name}!! </h1>
		<p>You can view all the booking requests here:</p>
		
		<f:flashMessages />
		
		<table  class="tx_hsroombooking" border="2px" width="800" cellpadding="10" style="margin-top:40px;">
			<tr>
				
			</tr>
			<f:form name="preferenceSelectionForm">

				<p>Accepted</p>
			</f:form>
			

				

			
		</table>

	</f:section>
</html>