<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:layout name="Default" />

	This Template is responsible for creating a table of domain objects.

	If you modify this template, do not forget to change the overwrite settings
	in /Configuration/ExtensionBuilder/settings.yaml:
	  Resources:
		Private:
		  Templates:
			List.html: keep

	Otherwise your changes will be overwritten the next time you save the extension in the extension builder

	<f:section name="content">
		<h1>Listing for Rooms</h1>

		<f:flashMessages />

		<table  class="tx_hsroombooking" >
			<tr>
				<th><f:translate key="tx_hsroombooking_domain_model_rooms.startdatetime" /></th>
				<th><f:translate key="tx_hsroombooking_domain_model_rooms.enddatetime" /></th>
				<th><f:translate key="tx_hsroombooking_domain_model_rooms.room_key" /></th>
				<th><f:translate key="tx_hsroombooking_domain_model_rooms.room_id" /></th>
				<th><f:translate key="tx_hsroombooking_domain_model_rooms.roomtype" /></th>
				<th> </th>
				<th> </th>
			</tr>

			<f:for each="{roomss}" as="rooms">
				<tr>
					<td><f:link.action action="show" arguments="{rooms : rooms}"> {rooms.startdatetime -> f:format.date()}</f:link.action></td>
					<td><f:link.action action="show" arguments="{rooms : rooms}"> {rooms.enddatetime -> f:format.date()}</f:link.action></td>
					<td><f:link.action action="show" arguments="{rooms : rooms}"> {rooms.roomKey}</f:link.action></td>
					<td><f:link.action action="show" arguments="{rooms : rooms}"> {rooms.roomId}</f:link.action></td>
					<td><f:link.action action="show" arguments="{rooms : rooms}"> {rooms.roomtype}</f:link.action></td>
					<td><f:link.action action="edit" arguments="{rooms : rooms}">Edit</f:link.action></td>
					<td><f:link.action action="delete" arguments="{rooms : rooms}">Delete</f:link.action></td>
				</tr>
			</f:for>
		</table>

		<f:link.action action="new">New Rooms</f:link.action>
	</f:section>
</html>