<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:layout name="Default" />

	This Template is responsible for creating a table of domain objects.

	If you modify this template, do not forget to change the overwrite settings
	in /Configuration/ExtensionBuilder/settings.yaml:
	  Resources:
		Private:
		  Templates:
			List.html: keep

	Otherwise your changes will be overwritten the next time you save the extension in the extension builder

	<f:section name="content">
		<h1>Listing for Roomdetails</h1>

		<f:flashMessages />

		<table  class="tx_hsroombooking" >
			<tr>
				<th><f:translate key="tx_hsroombooking_domain_model_roomdetails.room_key" /></th>
				<th><f:translate key="tx_hsroombooking_domain_model_roomdetails.capacity" /></th>
				<th><f:translate key="tx_hsroombooking_domain_model_roomdetails.whiteboard" /></th>
				<th><f:translate key="tx_hsroombooking_domain_model_roomdetails.blackboard" /></th>
				<th><f:translate key="tx_hsroombooking_domain_model_roomdetails.beamer" /></th>
				<th> </th>
				<th> </th>
			</tr>

			<f:for each="{roomdetailss}" as="roomdetails">
				<tr>
					<td><f:link.action action="show" arguments="{roomdetails : roomdetails}"> {roomdetails.roomKey}</f:link.action></td>
					<td><f:link.action action="show" arguments="{roomdetails : roomdetails}"> {roomdetails.capacity}</f:link.action></td>
					<td><f:link.action action="show" arguments="{roomdetails : roomdetails}"> {roomdetails.whiteboard}</f:link.action></td>
					<td><f:link.action action="show" arguments="{roomdetails : roomdetails}"> {roomdetails.blackboard}</f:link.action></td>
					<td><f:link.action action="show" arguments="{roomdetails : roomdetails}"> {roomdetails.beamer}</f:link.action></td>
					<td><f:link.action action="edit" arguments="{roomdetails : roomdetails}">Edit</f:link.action></td>
					<td><f:link.action action="delete" arguments="{roomdetails : roomdetails}">Delete</f:link.action></td>
				</tr>
			</f:for>
		</table>

		<f:link.action action="new">New Roomdetails</f:link.action>
	</f:section>
</html>