<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:layout name="Default" />

	This Template is responsible for creating a table of domain objects.

	If you modify this template, do not forget to change the overwrite settings
	in /Configuration/ExtensionBuilder/settings.yaml:
	  Resources:
		Private:
		  Templates:
			List.html: keep

	Otherwise your changes will be overwritten the next time you save the extension in the extension builder

	<f:section name="content">
		<h1>Listing for Classroom</h1>

		<f:flashMessages />

		<table  class="tx_hsroombooking" >
			<tr>
				<th><f:translate key="tx_hsroombooking_domain_model_classroom.startdatetime" /></th>
				<th><f:translate key="tx_hsroombooking_domain_model_classroom.enddatetime" /></th>
				<th><f:translate key="tx_hsroombooking_domain_model_classroom.room_key" /></th>
				<th><f:translate key="tx_hsroombooking_domain_model_classroom.is_booked" /></th>
				<th> </th>
				<th> </th>
			</tr>

			<f:for each="{classrooms}" as="classroom">
				<tr>
					<td><f:link.action action="show" arguments="{classroom : classroom}"> {classroom.startdatetime -> f:format.date()}</f:link.action></td>
					<td><f:link.action action="show" arguments="{classroom : classroom}"> {classroom.enddatetime -> f:format.date()}</f:link.action></td>
					<td><f:link.action action="show" arguments="{classroom : classroom}"> {classroom.roomKey}</f:link.action></td>
					<td><f:link.action action="show" arguments="{classroom : classroom}"> {classroom.isBooked}</f:link.action></td>
					<td><f:link.action action="edit" arguments="{classroom : classroom}">Edit</f:link.action></td>
					<td><f:link.action action="delete" arguments="{classroom : classroom}">Delete</f:link.action></td>
				</tr>
			</f:for>
		</table>

		<f:link.action action="new">New Classroom</f:link.action>
	</f:section>
</html>