<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<label for="roomKey">
	<f:translate key="tx_hsroombooking_domain_model_roomdetails.room_key" />
</label><br />
	<f:form.textfield property="roomKey" /><br />
<label for="capacity">
	<f:translate key="tx_hsroombooking_domain_model_roomdetails.capacity" />
</label><br />
	<f:form.textfield property="capacity" /><br />
<label for="whiteboard">
	<f:translate key="tx_hsroombooking_domain_model_roomdetails.whiteboard" />
</label><br />
	<f:form.checkbox property="whiteboard" value="1" /><br />
<label for="blackboard">
	<f:translate key="tx_hsroombooking_domain_model_roomdetails.blackboard" />
</label><br />
	<f:form.checkbox property="blackboard" value="1" /><br />
<label for="beamer">
	<f:translate key="tx_hsroombooking_domain_model_roomdetails.beamer" />
</label><br />
	<f:form.checkbox property="beamer" value="1" /><br />
<label for="roomtype">
	<f:translate key="tx_hsroombooking_domain_model_roomdetails.roomtype" />
</label><br />
	<f:form.textfield property="roomtype" /><br />
</html>