<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-hs-roombooking" >
	<tr>
		<td>
			<f:translate key="tx_hsroombooking_domain_model_roomdetails.room_key" />
		</td>
		<td>
		{roomdetails.roomKey}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hsroombooking_domain_model_roomdetails.capacity" />
		</td>
		<td>
		{roomdetails.capacity}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hsroombooking_domain_model_roomdetails.whiteboard" />
		</td>
		<td>
		{roomdetails.whiteboard}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hsroombooking_domain_model_roomdetails.blackboard" />
		</td>
		<td>
		{roomdetails.blackboard}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hsroombooking_domain_model_roomdetails.beamer" />
		</td>
		<td>
		{roomdetails.beamer}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hsroombooking_domain_model_roomdetails.roomtype" />
		</td>
		<td>
		{roomdetails.roomtype}
		</td>
	</tr>
</table>
</html>