<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<label for="starttimerange">
	<f:translate key="tx_hsroombooking_domain_model_timerange.starttimerange" />
</label><br />
	<f:form.textfield property="starttimerange" value="{timerange.starttimerange->f:format.date()}" /><br />
<label for="endtimerange">
	<f:translate key="tx_hsroombooking_domain_model_timerange.endtimerange" />
</label><br />
	<f:form.textfield property="endtimerange" value="{timerange.endtimerange->f:format.date()}" /><br />
</html>