<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-hs-roombooking" >
	<tr>
		<td>
			<f:translate key="tx_hsroombooking_domain_model_timerange.starttimerange" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hsroombooking_domain_model_timerange.endtimerange" />
		</td>
		<td>
		</td>
	</tr>
</table>
</html>