<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:layout name="Default" />

	This Template is responsible for creating a table of domain objects.

	If you modify this template, do not forget to change the overwrite settings
	in /Configuration/ExtensionBuilder/settings.yaml:
	  Resources:
		Private:
		  Templates:
			List.html: keep

	Otherwise your changes will be overwritten the next time you save the extension in the extension builder

	<f:section name="content">
		<h1>Listing for Timerange</h1>

		<f:flashMessages />

		<table  class="tx_hsroombooking" >
			<tr>
				<th><f:translate key="tx_hsroombooking_domain_model_timerange.starttimerange" /></th>
				<th><f:translate key="tx_hsroombooking_domain_model_timerange.endtimerange" /></th>
				<th> </th>
				<th> </th>
			</tr>

			<f:for each="{timeranges}" as="timerange">
				<tr>
					<td><f:link.action action="show" arguments="{timerange : timerange}"> {timerange.starttimerange}</f:link.action></td>
					<td><f:link.action action="show" arguments="{timerange : timerange}"> {timerange.endtimerange}</f:link.action></td>
					<td><f:link.action action="edit" arguments="{timerange : timerange}">Edit</f:link.action></td>
					<td><f:link.action action="delete" arguments="{timerange : timerange}">Delete</f:link.action></td>
				</tr>
			</f:for>
		</table>

		<f:link.action action="new">New Timerange</f:link.action>
	</f:section>
</html>