<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-hs-roombooking" >
	<tr>
		<td>
			<f:translate key="tx_hsroombooking_domain_model_classroom.startdatetime" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hsroombooking_domain_model_classroom.enddatetime" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hsroombooking_domain_model_classroom.room_key" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hsroombooking_domain_model_classroom.is_booked" />
		</td>
		<td>
		</td>
	</tr>
</table>
</html>