<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:layout name="Default" />

	This Template is responsible for creating a table of domain objects.

	If you modify this template, do not forget to change the overwrite settings
	in /Configuration/ExtensionBuilder/settings.yaml:
	  Resources:
		Private:
		  Templates:
			List.html: keep

	Otherwise your changes will be overwritten the next time you save the extension in the extension builder

	<f:section name="content">
		<h1>Welcome {name}!! </h1>
		<p>You can view all the booking requests here:</p>	
		<f:flashMessages />	
		<table  class="tx_hsroombooking" border="2px" width="800" cellpadding="10" style="margin-top:40px;">
			<th>Request for Room</th>
			<th>Startdate</th>
			<th>Enddate</th>
			<th>Roomtype</th>
			<th>Accept Request</th>
			<th>Reject Request</th>
			<f:form name="requestedData">
				<f:if condition="{requestedRooms}">
					<f:then>
						<f:for each="{requestedRooms}" as="requestedRoom">
							<tr>	
								<td name="roomKey">
									{requestedRoom.roomKey}	 
								</td>
								<td name="start">
									<f:format.date format="Y-m-d H:i:s">{requestedRoom.startdatetime}</f:format.date>
								</td>

								<td name="end">
									<f:format.date format="Y-m-d H:i:s">{requestedRoom.enddatetime}</f:format.date>
								</td>
								<td name='roomtype'>
									{requestedRoom.roomtype}
								</td>
								<td>
									<f:link.action action="process" id="acceptedValue" arguments="{acceptedValue:'{requestedRoom.roomKey},{start},{end},{requestedRoom.roomtype},{requestedRoom.uid}'}">Accept</f:link.action>
								</td>
								<td>
									<f:link.action action="process" id="rejectedValue" arguments="{rejectedValue:'{requestedRoom.roomKey},{start},{end},{requestedRoom.roomtype},{requestedRoom.uid}'}">Reject</f:link.action>
								</td>	
							</tr>
						</f:for>
					</f:then>
					<f:else>
							<tr>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
					</f:else>	
				</f:if>	
			</f:form>
		</table>

	</f:section>
</html>