<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:layout name="Default" />

	This Template is responsible for displaying a single view for a domain object

	If you modify this template, do not forget to change the overwrite settings
	in /Configuration/ExtensionBuilder/settings.yaml:
	  Resources:
		Private:
		  Templates:
			Show.html: keep

	Otherwise your changes will be overwritten the next time you save the extension in the extension builder

	<f:section name="content">
		<h1>Booking Completed</h1>
		<p>Thank you {Firstname} {Lastname} for your request. An email has been sent to your Email ID: {Email}!!</p>
		<p>Requested RoomNo:-{roomKey}<p>
		<p>Booking Request From - "{start}" To "{end}" </p>
		<f:flashMessages />	
		<f:link.action action="list">Back to list</f:link.action><br />
	</f:section>
</html>