<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:layout name="Default" />

	This Template is responsible for displaying a single view for a domain object

	If you modify this template, do not forget to change the overwrite settings
	in /Configuration/ExtensionBuilder/settings.yaml:
	  Resources:
		Private:
		  Templates:
			Show.html: keep

	Otherwise your changes will be overwritten the next time you save the extension in the extension builder

	<f:section name="content">
		<h1>Confirmation Bookingsystem</h1>
		<p>You selected room number: "{roomKey_selected}"</p>
		<p>Please fill the form below for booking processes: </p>

		<table  class="tx_hsroombooking" border="2px" cellpadding="10" style="margin-top:40px;">
 			<f:form name="Persondetails">
 			<p>	Enter Firstname: <f:form.textfield name="Fname" value="{requestedFnameValue}"type="text" required="TRUE" disabled="disabled" /></p>
 			<p>	Enter Lastname: <f:form.textfield name="Lname" value="{requestedLnameValue}" type="text" required="TRUE" disabled="disabled" /></p>
 			<p> Enter Email: <f:form.textfield name="Email" value="{requestedEmailValue}"type="email" required="TRUE" disabled="disabled"  /></p>
 			<p>Enter Your Comments(if any):<f:form.textarea placeholder="Enter your comments here" name="comments" id="comments" onclick="NULL"/></p>
 			<td><f:link.action action="user" id="comments" arguments="{comments:'{comments}'}"><button type="button">Send for Booking</button></f:link.action></td>
 			</f:form>
		</table>	
		<f:flashMessages />
		<f:render partial="Bookingsystem/Properties" arguments="{bookingsystem:bookingsystem}" />
		
	</f:section>
</html>