<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

	<f:layout name="Default" />

	This Template is responsible for creating a table of domain objects.

	If you modify this template, do not forget to change the overwrite settings
	in /Configuration/ExtensionBuilder/settings.yaml:
	  Resources:
		Private:
		  Templates:
			List.html: keep

	Otherwise your changes will be overwritten the next time you save the extension in the extension builder

	<f:section name="content">
		<h1>Welcome to Room Bookingsystem </h1>
		<p>Please fill the desired results</p>
		<p></p>
		<f:flashMessages />
		
		<table  class="tx_hsroombooking" border="2px" width="800" cellpadding="10" style="margin-top:40px;">
			<tr>
				<th> Available rooms</th>
				<th>BlackBoard Option</th>
				<th>Whiteboard Option </th>
				<th>Capacity </th>
				<th>Beamer </th>
				<th>Booking</th>
			</tr>
	<f:form name="preferenceSelectionForm">

			<f:form.textfield name="Date" type="Date" required="TRUE" placeholder="Enter Date" />
				<f:form.select name="From" additionalAttributes="{required:'required'}">
							<option value="">Select From:</option>
							<f:for each="{timerangedatas}" as="timerangedata">
							<option value="{timerangedata}">{timerangedata}</option>
							</f:for>
				</f:form.select>
				<f:form.select name="To" additionalAttributes="{required:'required'}">
							<option value="">Select To:</option>
							<f:for each="{timerangedatas}" as="timerangedata">
							<option name="To" value="{timerangedata}">{timerangedata}</option>
							</f:for>
				</f:form.select>
				
				<f:form.select name="roomtype" additionalAttributes="{required:'required'}">
							<option value="">Select type:</option>
							<f:for each="{roomtypes}" as="roomtype">
							<option name="Type" value="{roomtype}">{roomtype}</option>
							</f:for>
				</f:form.select>
				<f:form.button type="Submit" name="submit" value="Submit">Submit</f:form.button>
			</f:form>
				<f:for each="{roomDetails}" as="details">
				<tr><td>
					<f:link.action action="book" id="selectedKey" arguments="{selectedKey:'{details.roomKey}'}">{details.roomKey}</f:link.action></td>
					<td><f:form.checkbox name="isBlackboard" checked="{details.blackboard}"	 value="1" disabled="disabled" /></td>
					<td><f:form.checkbox name="isWhiteboard" checked="{details.Whiteboard}" value="1" disabled="disabled"/></td>
					<td><f:form.textfield name="Capacity" value="{details.Capacity}" disabled="disabled"/></td>
					<td><f:form.checkbox name="isBeamer" checked="{details.Beamer}" value="1" disabled="disabled"/></td>
			
					<td><f:link.action action="book" id="selectedKey" arguments="{selectedKey:'{details.roomKey}'}"><button type="button">Proceed</button></f:link.action></td>
				</tr>
			</f:for>
			
		</table>

	</f:section>
</html>