<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:layout name="Default" />

	This Template is responsible for displaying a single view for a domain object

	If you modify this template, do not forget to change the overwrite settings
	in /Configuration/ExtensionBuilder/settings.yaml:
	  Resources:
		Private:
		  Templates:
			Show.html: keep

	Otherwise your changes will be overwritten the next time you save the extension in the extension builder

	<f:section name="content">
		<h1>Rejected for Booking</h1>
		<f:flashMessages/>
		<table border="2px">
			<th>Room No</th>
			<th>Start</th>
			<th>End</th>
			<th> Type of Room</th>
			<tr>
				<td>{roomKeyRejected}</td>
				<td>{startdatetimeRejected}</td>
				<td>{enddatetimeRejected}</td>
				<td>{roomtypeRejected}</td>
			</tr>
		</table>

	<f:link.action action="authorized">Go Back to Booking Request</f:link.action>		
				
	


	</f:section>
</html>