<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<label for="startdatetime">
	<f:translate key="tx_hsroombooking_domain_model_rooms.startdatetime" />
</label><br />
	<f:form.textfield property="startdatetime" value="{rooms.startdatetime->f:format.date()}" /><br />
<label for="enddatetime">
	<f:translate key="tx_hsroombooking_domain_model_rooms.enddatetime" />
</label><br />
	<f:form.textfield property="enddatetime" value="{rooms.enddatetime->f:format.date()}" /><br />
<label for="roomKey">
	<f:translate key="tx_hsroombooking_domain_model_rooms.room_key" />
</label><br />
	<f:form.textfield property="roomKey" /><br />
<label for="roomtype">
	<f:translate key="tx_hsroombooking_domain_model_rooms.roomtype" />
</label><br />
	<f:form.textfield property="roomtype" /><br />
<label for="isBooked">
	<f:translate key="tx_hsroombooking_domain_model_rooms.is_booked" />
</label><br />
	<f:form.checkbox property="isBooked" value="1" /><br />
</html>