<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-hs-roombooking" >
	<tr>
		<td>
			<f:translate key="tx_hsroombooking_domain_model_rooms.startdatetime" />
		</td>
		<td>
		{rooms.startdatetime -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hsroombooking_domain_model_rooms.enddatetime" />
		</td>
		<td>
		{rooms.enddatetime -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hsroombooking_domain_model_rooms.room_key" />
		</td>
		<td>
		{rooms.roomKey}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hsroombooking_domain_model_rooms.roomtype" />
		</td>
		<td>
		{rooms.roomtype}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hsroombooking_domain_model_rooms.is_booked" />
		</td>
		<td>
		{rooms.isBooked}
		</td>
	</tr>
</table>
</html>